body {
    display: grid;
    grid-template-rows: 90px auto 80px;
    grid-gap: 3vh;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Century Gothic', 'Calibri Light', sans-serif;
    background: #eee;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-gap: 6vh;
    padding: 4vh 5vw 4vh 5vw;
}

a:link { color: #121212; text-decoration: none; }
a:visited { color: #121212; text-decoration: none; }
a:hover { color: #888; }
a:focus { color: #bbb; }
a:active { color: #bbb; }

/* nav, footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

nav li, footer li {
    display: inline-block;
    margin: 20px 40px 0 10px;
} */
nav {
    border-bottom: 1px solid black;
    overflow: hidden;
}

.topnav li {
    float: left;
}

.hamburger {
    display: none;
    font-size: 1.5em;
}

@media screen and (max-width: 715px) {
    .topnav li:not(.hamburger) {
        display: none;
    }
    .hamburger {
        float: left;
        display: block;
    }
    .topnav, footer ul {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
    }
    .topnav.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    nav {
        height: fit-content;
    }
    .topnav.responsive li {
        display: block;
    }
    .topnav.responsive a {
        width: 100%;
    }
    body {
        grid-template-rows: auto auto 80px;
    }
    main {
        padding-top: 1vh;
    }
    .topnav.responsive .navigation-right {
        margin-left: 0px;
        margin-right: auto;
    }
}

nav ul, footer ul {
    display: flex;
    margin: 16px 0px;
    list-style-type: none;
}

nav ul { flex-wrap: wrap; }

nav li, footer li {
    margin: 20px 40px 0 10px;
}

.navigation-right {
    margin-left: auto;
    margin-right: 5vw;
}

header li {
    display: inline-block;
}

h1.name-title {
    font-size: 3em;
}

div.more-button {
    margin: 2em 0 0 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.more-button:link {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.19);
}

a.more-button:hover {
    color: black;
    position:relative;
    top: 1px;
    left: 1px;
    box-shadow: 0 3px 7.5px 0 rgba(0,0,0,0.2), 0 3px 7.5px 0 rgba(0,0,0,0.19);
}

a.more-button:active {
    color: black;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}

p, section li {
    max-width: 50em;
    font-size: 120%;
    line-height: 150%;
}

p {
    margin: 0;
}

figure, header ul {
    margin-left: 0;
    padding-left: 0;}

footer {
    background: black;
    margin: auto -0.5em -3em -0.5em;
    padding: 1.75em;
}

a.footer-option:link { color: #fff; text-decoration: none; }
a.footer-option:visited { color: #fff; text-decoration: none; }
a.footer-option:hover { color: #fff; }
a.footer-option:focus { color: #bbb; }
a.footer-option:active { color: #bbb; }

/* section {
    margin-top: 5vh;
} */

@media (max-width: 796px) {
    article.short-description {
        display: none;
    }
    .heading {
        margin-bottom: 0;
    }
    h1.name-title {
        max-width: 5em;
    }
}

@media (max-width: 625px) {
    li.profile-picture {
        display: none;
    }
    h1.name-title {
        margin-bottom: 0px;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
        line-height: 40px;
    }
    .heading {
        padding-left: 0;
        margin: 0;
    }
    main {
        font-size: 13px;
        line-height: 25px;
        padding-left: 2vh;
        padding-right: 2vh;
        grid-gap: 3vh;
    }
    main ul {
        max-width: 85vw;
        padding-left: 15px;
        margin-top: 0;
    }
    footer ul {
        font-size: 13px;
        line-height: 25px;
        margin: 16px 3vw;
        padding-left: 0;
        justify-content: space-between;
    }
    footer li {
        padding: 2px;
        margin: 0 10vw;
    }
    .topnav {
        margin-left: 0px;
    }
}
